//
// About
//

.container-about {
    margin: 0 2rem 0;
    padding: 0;
    @media (min-width: $pc_min_width) {
        margin: 0;
        max-width: $pc_width_for_main;
    }

    p {
        line-height: 2;
    }
}