//
// 共通のスタイル
//

// ＝＝＝＝＝＝＝＝
// 変数　色関係
// ＝＝＝＝＝＝＝＝

// メイン　薄白紺（紺の同系色） #f4f5ff
$cl_white: #f4f5ff;
$cl_main: $cl_white;

// アクセント　橙 #fa5700
$cl_orange: #fa5700;
$cl_accent: $cl_orange;

// サブ１　紺 #020e3a
$cl_navy: #020e3a;
$cl_sub1: $cl_navy;
$rgb_sub1: 2, 14, 58;

// サブ２　藍色 #030569
$cl_indigo: #030569;
$cl_sub2: $cl_indigo;

// サブ３　薄紫（藍色の同系色） #a8a4e0
$cl_lightindigo: #a8a4e0;
$cl_sub3: $cl_lightindigo;

// サブ４　薄紺 #b8cceb
$cl_lightnavy: #b8cceb;
$cl_sub4: $cl_lightnavy;

// ＝＝＝＝＝＝＝＝
// 変数　サイズ関係
// ＝＝＝＝＝＝＝＝

// スマートフォン最大幅＝ブレークポイント
$sp_max_width: 768px;

// 横並びにする場合の横マージン
$horizontal_margin_for_flex_elements: 2rem;

// PC表示サイドバー幅
$pc_width_for_sidebar: 120px;

// PC表示メインエリア幅
// 1024px − 左メニュー120px　マージン20px　= 右画面884px
$pc_width_for_main: 884px;

:root {
    --color-main: #{$cl_main};
    --color-accent: #{$cl_accent};
    --color-sub1: #{$cl_sub1};
    --color-sub2: #{$cl_sub2};
    --color-sub3: #{$cl_sub3};
    --color-sub4: #{$cl_sub4};
    --rgb-sub1: #{$rgb_sub1};
}

// ベーススタイル
html {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
//    line-height: 1.75;
    color: var(--color-sub1);
    background-color: var(--color-main);
    @media (min-width: 769px) {
        font-size: 1.6rem;
    }
}


a {
    color: var(--color-sub3);
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

article h1 {
    display: block;
    border-bottom: var(--color-accent) 2px solid;
    padding: 0 4rem; // 装飾用
    margin: 0 0 4rem; // 下は各小コンテナとのマージン
    max-width: $pc_width_for_main;

    position: relative;

    @media (min-width: 769px) {
        margin: 0 0 6rem; // 下は各小コンテナとのマージン
        padding: 0 6rem; // 装飾用
    }

    &::after {
        content: attr(data-heading-jp);
        font-family: 'Noto Serif JP', serif;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1.2rem;
        font-size: 1.2rem;
        background-color: var(--color-accent);
        color: var(--color-main);
        line-height: 1;
        text-align: center;
        margin: 0 4rem; // 装飾用 本体要素の横パディングに合わせると文字幅と同じになる
       
    }

}

.heading-en {
    font-family: 'Corben', cursive;
    text-transform: uppercase;
}

.heading-jp {
    font-family: 'Noto Serif JP', serif;
}

main {
    @media (min-width: 769px) {
        margin-left: $pc_width_for_sidebar;
        width: calc(100% - #{$pc_width_for_sidebar});
    }
}

.container {
    width: 100%;
    min-height: 100vh;
    margin: 4rem 0 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    @media (min-width: 769px) {
        margin: 5rem auto 4rem;
    }
}