@use "variables";
//
// Contact
//


.container-contact {
    background-image:
        linear-gradient(rgba(var(--rgb-sub1), 0.9), rgba(var(--rgb-sub1), 0.9)),
        url("../images/cover-image.jpg");
    background-size: cover;
    background-position: center;

    color: var(--color-main);
    height: 100vh;

    text-align: center;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    @supports (-webkit-touch-callout: none) {
        height: -webkit-fill-available;
    }
}

.name-card {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    @media (min-width: variables.$pc_min_width) {
        margin: 33vh 0 auto;
        background-color: var(--color-main);
        width: 540px;
        height: 326px;
        color: var(--color-sub2);
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 10rem 6rem 6rem;
    }
}

.catch-phrase {
    font-size: 1.6rem;
    line-height: 1.75;
    width: 100%;
    @media (min-width: variables.$pc_min_width) {
        margin: 0 0 10px;
        border-bottom: 1px var(--color-sub1) solid;
    }

}

.catch-phrase__accent {
    color: var(--color-accent);
}

.linefeed-for-sp::before {
    content: "\A";
    white-space: pre;
    @media (min-width: variables.$pc_min_width) {
        display: none;
    }
}

.profile-photo {
    @media (min-width: variables.$pc_min_width) {
        margin: 2rem 0 0;
    }

    img {
        border-radius: 50%;
        max-width: 10rem;
        max-height: 10rem;
    }
}

.name-block {
    @media (min-width: variables.$pc_min_width) {
        margin: 2rem 0 0;
    }
}

.name__jp {
    font-size: 3.6rem;
    width: 100%;
    @media (min-width: variables.$pc_min_width) {
        color: var(--color-sub1);
    }

}
.name__en {
    margin-top: 1.6rem;
    font-size: 2rem;
    @media (min-width: variables.$pc_min_width) {
        color: var(--color-sub1);
    }
}
.name__email {
    font-size: 1.3rem;
    display: none;
    @media (min-width: variables.$pc_min_width) {
        display: block;
    }
}

.sns{
    list-style: none;
    padding: 0;
    margin: 0 0 auto;
    display: flex;
    width: 60vw;
    justify-content: space-between;
    @media (min-width: variables.$pc_min_width) {
        margin: 0 auto auto;
        width: 540px; // 名刺に合わせる
        justify-content: flex-end;
    }

    li {
        display: block;
        width: 4rem;
        height: 4rem;
        font-size: 2.4rem;
        border-radius: 50%;
        background-color: var(--color-main);
        margin: 0;
        @media (min-width: variables.$pc_min_width) {
            margin-left: 2.4rem;
        }
        a {
            color: var(--color-sub2);
            vertical-align: middle;
        }
    }
}
