@use "variables";
//
// Next..
//

variables.$sp_next_width: 20rem;
variables.$pc_next_width: 25rem;

.container-nexts {
    margin: 0 2rem 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @media (min-width: variables.$pc_min_width) {
        max-width: variables.$pc_width_for_main;
        margin: 0;
    }
}

.next {
    position: relative;

    margin: 2rem 0 0;

    width: variables.$sp_next_width;
    box-sizing: border-box;

   /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 1px 1px 3px 0px rgba(variables.$cl-navy, 0.5);

    opacity: 1;
    transition: .5s opacity, .5s transform;

    @media (min-width: variables.$pc_min_width) {
        width: variables.$pc_next_width;
        margin: #{variables.$horizontal_margin_for_flex_elements};

    }

    &::before {
        content: '';
        display: block;
        padding-top: 95%;
    }

    &:nth-child(3n+1) {
        background-color: var(--color-sub4);
    }
    &:nth-child(3n+2) {
        background-color: var(--color-sub3);
    }
    &:nth-child(3n) {
        background-color: var(--color-main);
    }

}
.next--waiting-to-showup {
    opacity: 0;
    transform: scale(1.2);
}

.next__inner {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;

    padding: 1.6rem;
}

.next__icon {
    text-align: center;
    color: var(--color-accent);
    font-size: 2.4rem;
    line-height: 3;
    @media (min-width: variables.$pc_min_width) {
        font-size: 3.6rem;
        line-height: 2;
    }

}

.hand-writing {
    font-family: 'Klee One', cursive;
}

.next__text {
    font-size: 1.6rem;
    @media (min-width: variables.$pc_min_width) {
        font-size: 2rem;
        line-height: 1.75;
    }
}