//
// Works
//

.container-works {
    margin: 0 2rem 0;
    padding: 0;
    width: calc(100% - 2rem * 2);
    line-height: 1.2;

    @media (min-width: $pc_min_width) {
        max-width: $pc_width_for_main;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.work {
    margin: 2rem 0 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    @media (min-width: $pc_min_width) {
        width: calc((100% - 2rem) / 2);
        margin: 2rem 0 2rem;
    }
}

.work__category {
    background-color: var(--color-sub2);
    color: var(--color-main);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 3rem;
    position: relative;
    cursor: pointer;

    @media (min-width: $pc_min_width) {
        font-size: 2.4rem;
        line-height: 4rem;
        cursor: unset;
    }

    
    @media (max-width: 768px) {
        &::before {
            content: '';

            /* 位置の調整 */
            position: absolute;
            right: 1rem;
            top: 0;
            bottom: 0;
            margin: auto;
        
            /* アニメーションを戻すときの指定 */
            transition: .3s transform;
            
            width: 10px;
            height: 2px;
            background-color: var(--color-accent);

        }
        &::after {
            content: '';

            /* 位置の調整 */
            position: absolute;
            right: 1.4rem;
            top: 0;
            bottom: 0;
            margin: auto;
        
            /* アニメーションを戻すときの指定 */
            transition: .3s transform;
            
            width: 2px;
            height: 10px;
            background-color: var(--color-accent);

        }
    }
}

.opened .work__category::after {
    transform: rotate(90deg);
    transition: .3s transform;
}

.work__details {
    flex-grow: 1;
    list-style: inside '- ';
    text-indent: -1rem;
    margin: 0;
    padding: 1rem 1rem 1rem 2rem;
    border-left: var(--color-sub2) solid 1px;
    border-right: var(--color-sub2) solid 1px;
    border-bottom: var(--color-sub2) solid 1px;
    @media (max-width: 768px) {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 0;
        transition: padding .3s, line-height .3s, opacity .2s;
        opacity: 0;
    }
    @media (min-width: $pc_min_width) {
        display: block;
    }
}

.opened .work__details {
    line-height: 1.5;
    padding-top: 1rem;
    padding-bottom: 1rem;
    opacity: 1;

}