//
// Works
//

.container-works {
    margin: 0 2rem 0;
    padding: 0;
    width: calc(100% - 2rem * 2);
    line-height: 1.2;

    @media (min-width: 769px) {
        max-width: $pc_width_for_main;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.work {
    margin: 2rem 0 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    @media (min-width: 769px) {
        width: calc((100% - 2rem) / 2);
        margin: 2rem 0 2rem;
    }
}

.work__category {
    background-color: var(--color-sub2);
    color: var(--color-main);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 3rem;
    position: relative;
    cursor: pointer;

    @media (min-width: 769px) {
        font-size: 2.4rem;
        line-height: 4rem;
        cursor: unset;
    }

    
    @media (max-width: 768px) {
        &::before {
            content: '';

            /* 位置の調整 */
            position: absolute;
            left: 1rem;
            top: 0;
            bottom: 0;
            margin: auto;
        
            /* アニメーションを戻すときの指定 */
            transition: .3s transform;
            
            /* CSSで三角形を作る */
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0.4rem 0 0.4rem 0.8rem;
            border-color: transparent transparent transparent var(--color-accent);
        }
    }
}

.is-details-opened::before {
    transform: rotate(90deg);
    transition: .3s transform;
}

.work__details {
    display: none;
    flex-grow: 1;
    list-style: inside '- ';
    text-indent: -1rem;
    margin: 0;
    padding: 1rem 1rem 1rem 2rem;
    border-left: var(--color-sub2) solid 1px;
    border-right: var(--color-sub2) solid 1px;
    border-bottom: var(--color-sub2) solid 1px;
    @media (min-width: 769px) {
        display: block;
    }
}