@charset "UTF-8";
/* 文字コードの指定 */
/*  Google Fontsの読み込み
    Noto Sans JP: 本文用
	Corben: ページタイトル用　boldでは絶対に使わない
	Noto Serif JP: 日本語見出し用
	Klee One: NEXT..用メモ
 */
@import url("https://fonts.googleapis.com/css2?family=Corben&family=Klee+One&family=Noto+Serif+JP:wght@200;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
:root {
  --color-main: #f4f5ff;
  --color-accent: #fa5700;
  --color-sub1: #020e3a;
  --color-sub2: #030569;
  --color-sub3: #a8a4e0;
  --color-sub4: #b8cceb;
  --rgb-sub1: 2, 14, 58;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-sub1);
  background-color: var(--color-main);
}
@media (min-width: 769px) {
  body {
    font-size: 1.6rem;
  }
}

a {
  color: var(--color-sub3);
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

article h1 {
  display: block;
  border-bottom: var(--color-accent) 2px solid;
  padding: 0 4rem;
  margin: 0 0 4rem;
  max-width: 884px;
  position: relative;
}
@media (min-width: 769px) {
  article h1 {
    margin: 0 0 6rem;
    padding: 0 6rem;
  }
}
article h1::after {
  content: attr(data-heading-jp);
  font-family: "Noto Serif JP", serif;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.2rem;
  font-size: 1.2rem;
  background-color: var(--color-accent);
  color: var(--color-main);
  line-height: 1;
  text-align: center;
  margin: 0 4rem;
}

.heading-en {
  font-family: "Corben", cursive;
  text-transform: uppercase;
}

.heading-jp {
  font-family: "Noto Serif JP", serif;
}

@media (min-width: 769px) {
  main {
    margin-left: 120px;
    width: calc(100% - 120px);
  }
}

.container {
  width: 100%;
  min-height: 100vh;
  margin: 4rem 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
@media (min-width: 769px) {
  .container {
    margin: 5rem auto 4rem;
  }
}

.header {
  width: calc(100vw - 4rem);
  padding: 1rem 2rem 1rem;
  position: absolute;
  bottom: 0;
  z-index: 100;
}
@media (min-width: 769px) {
  .header {
    position: fixed;
    padding: 0;
    width: 120px;
    background-color: var(--color-accent);
    bottom: 0;
  }
}

#original-position {
  width: 0;
  position: absolute;
  bottom: 3rem;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
@media (min-width: 769px) {
  .nav-list {
    flex-direction: column;
    font-size: 1.6rem;
    height: 100vh;
    justify-content: space-around;
    text-align: right;
    padding-right: 2rem;
  }
  .nav-list a {
    color: var(--color-main);
  }
}
@media (max-width: 768px) {
  .nav-list li {
    position: relative;
    padding-left: 1rem;
  }
  .nav-list li::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    left: 0rem;
    width: 0.5rem;
    height: 0.5rem;
    border: none;
    border-bottom: 2px solid var(--color-sub3);
    border-left: 2px solid var(--color-sub3);
    transform: rotate(315deg);
    transition: border 0.1s;
  }
}
.nav-list li:first-child {
  display: none;
}
@media (min-width: 769px) {
  .nav-list li:first-child {
    display: block;
  }
}

.fixed-navmenu {
  position: fixed;
  top: 0;
  bottom: unset;
  background-color: var(--color-sub1);
}

li.article-above::before {
  border: none;
  border-top: 2px solid var(--color-sub3);
  border-right: 2px solid var(--color-sub3);
  transition: border 0.1s;
  bottom: -0.5rem;
}

a.current-position {
  color: var(--color-accent);
}
@media (min-width: 769px) {
  a.current-position {
    color: var(--color-sub2);
  }
}

.container-contact {
  background-image: linear-gradient(rgba(var(--rgb-sub1), 0.9), rgba(var(--rgb-sub1), 0.9)), url("../images/cover-image.jpg");
  background-size: cover;
  background-position: center;
  color: var(--color-main);
  height: 100vh;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.name-card {
  margin: auto 0;
}
@media (min-width: 769px) {
  .name-card {
    margin: 33.3333333333vh 0 auto;
    background-color: var(--color-main);
    width: 540px;
    height: 326px;
    color: var(--color-sub2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10rem 6rem 6rem;
  }
}

.catch-phrase {
  font-family: "Noto Serif JP", serif;
  font-size: 1.6rem;
  line-height: 1.75;
  width: 100%;
}
@media (min-width: 769px) {
  .catch-phrase {
    margin: 0 0 10px;
    border-bottom: 1px var(--color-sub1) solid;
  }
}

.catch-phrase__accent {
  color: var(--color-accent);
}

.linefeed-for-sp::before {
  content: "\a";
  white-space: pre;
}
@media (min-width: 769px) {
  .linefeed-for-sp::before {
    display: none;
  }
}

.profile-photo {
  margin: 5rem 0;
}
@media (min-width: 769px) {
  .profile-photo {
    margin: 2rem 0 0;
  }
}
.profile-photo img {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

@media (min-width: 769px) {
  .name-block {
    margin: 2rem 0 0;
  }
}

.name__jp {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 3.6rem;
  width: 100%;
}
@media (min-width: 769px) {
  .name__jp {
    color: var(--color-sub1);
  }
}

.name__en {
  font-family: "Corben", cursive;
  margin-top: 1.6rem;
  font-size: 2rem;
}
@media (min-width: 769px) {
  .name__en {
    color: var(--color-sub1);
  }
}

.name__email {
  font-family: "Corben", cursive;
  font-size: 1.3rem;
  display: none;
}
@media (min-width: 769px) {
  .name__email {
    display: block;
  }
}

.sns {
  list-style: none;
  padding: 0;
  margin: 0 0 8rem;
  display: flex;
  justify-content: center;
}
@media (min-width: 769px) {
  .sns {
    align-self: flex-end;
    margin: 0 8rem 8rem 0;
  }
}
.sns li {
  display: block;
  width: 4rem;
  height: 4rem;
  font-size: 2.4rem;
  border-radius: 50%;
  background-color: var(--color-main);
  margin: 0 2.5rem;
}
.sns li a {
  color: var(--color-sub2);
  vertical-align: middle;
}

.container-about {
  margin: 0 2rem 0;
  padding: 0;
}
@media (min-width: 769px) {
  .container-about {
    margin: 0;
    max-width: 884px;
  }
}
.container-about p {
  line-height: 2;
}

.container-works {
  margin: 0 2rem 0;
  padding: 0;
  width: calc(100% - 4rem);
  line-height: 1.2;
}
@media (min-width: 769px) {
  .container-works {
    max-width: 884px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.work {
  margin: 2rem 0 2rem;
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 769px) {
  .work {
    width: calc((100% - 2rem) / 2);
    margin: 2rem 0 2rem;
  }
}

.work__category {
  background-color: var(--color-sub2);
  color: var(--color-main);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 3rem;
  position: relative;
  cursor: pointer;
}
@media (min-width: 769px) {
  .work__category {
    font-size: 2.4rem;
    line-height: 4rem;
    cursor: unset;
  }
}
@media (max-width: 768px) {
  .work__category::before {
    content: "";
    /* 位置の調整 */
    position: absolute;
    left: 1rem;
    top: 0;
    bottom: 0;
    margin: auto;
    /* アニメーションを戻すときの指定 */
    transition: 0.3s transform;
    /* CSSで三角形を作る */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.4rem 0 0.4rem 0.8rem;
    border-color: transparent transparent transparent var(--color-accent);
  }
}

.is-details-opened::before {
  transform: rotate(90deg);
  transition: 0.3s transform;
}

.work__details {
  display: none;
  flex-grow: 1;
  list-style: inside "- ";
  text-indent: -1rem;
  margin: 0;
  padding: 1rem 1rem 1rem 2rem;
  border-left: var(--color-sub2) solid 1px;
  border-right: var(--color-sub2) solid 1px;
  border-bottom: var(--color-sub2) solid 1px;
}
@media (min-width: 769px) {
  .work__details {
    display: block;
  }
}

.container-samples {
  margin: 0 2rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 769px) {
  .container-samples {
    max-width: 884px;
    margin: 0;
  }
}

.sample {
  margin: 2rem 0 0;
}
@media (min-width: 769px) {
  .sample {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 769px) {
  .sample__thumnails {
    width: calc((100% - 2rem) / 2);
  }
}
.sample__thumnails img {
  border-radius: 10px;
  border: 1px solid var(--color-sub2);
}

@media (min-width: 769px) {
  .sample__description {
    width: calc((100% - 2rem) / 2);
  }
}

.sample__title {
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 2;
  border-bottom: #fa5700 1px solid;
}
@media (min-width: 769px) {
  .sample__title {
    font-size: 2.4rem;
  }
}

.sample__details {
  font-size: 1.4rem;
  line-height: 1.75;
  list-style: inside "- ";
  padding: 0;
  padding-left: 1rem;
  text-indent: -1rem;
  margin: 0;
}
@media (min-width: 769px) {
  .sample__details {
    font-size: 1.6rem;
  }
}

.container-nexts {
  margin: 0 2rem 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 769px) {
  .container-nexts {
    max-width: 884px;
    margin: 0;
  }
}

.next {
  margin: 2rem 0 0;
  padding: 1.6rem;
  width: calc((100% - 2rem) / 2);
  box-sizing: border-box;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 1px 1px 3px 0px rgba(2, 14, 58, 0.5);
}
@media (min-width: 769px) {
  .next {
    width: calc((100% - 6rem) / 4);
  }
}
.next:nth-child(3n+1) {
  background-color: var(--color-sub4);
}
.next:nth-child(3n+2) {
  background-color: var(--color-sub3);
}
.next:nth-child(3n) {
  background-color: var(--color-main);
}

.next__icon {
  text-align: center;
  color: var(--color-accent);
  font-size: 1.6rem;
  line-height: 3;
}
@media (min-width: 769px) {
  .next__icon {
    font-size: 3.6rem;
    line-height: 2;
  }
}

.hand-writing {
  font-family: "Klee One", cursive;
}

.next__text {
  font-size: 1.4rem;
}
@media (min-width: 769px) {
  .next__text {
    font-size: 1.6rem;
    line-height: 1.75;
  }
}

.footer {
  width: 100%;
  height: 2rem;
  background-color: var(--color-sub1);
  color: var(--color-main);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 769px) {
  .footer {
    margin-left: 120px;
    max-width: calc(100% - 120px);
  }
}

/*# sourceMappingURL=style.css.map */
